.content-info {
  position: relative;
  flex: 0;
  &:after {
    z-index: 2;
    content: '';
    background: url("../../dist/images/sect_shadow.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -40px;
  }

  .container {
    &.menu {
      margin: 40px auto 30px;
    }
  }

  .logo {
    a {
      img {
        @media(max-width: $screen-md-min) {
          margin: 0 auto;
        }
      }
    }
  }

  .footer-menu {
    text-align: center;
    margin-top: 10px;
    @media(min-width: $screen-md-min) {
      margin-top: 0;
      text-align: right;
    }
    @media(max-width: $screen-sm-min) {
      display: none;
    }


    ul {
      list-style: none;
      padding-left: 0;

      li {
        display: inline-block;

        a {
          font-size: 13px;
          @media(min-width: $screen-md-min) {
            font-size: 18px;
          }
          text-transform: uppercase;
          color: $gray-light;
          padding: 0.75em;
          transition: box-shadow 250ms;

          &:hover {
            box-shadow: 0 -10px 0 $brand-primary inset;
            text-decoration: none;
          }
        }
      }
      /* highlight current page */
      li.current-menu-item,
      li.current_page_item,
      li.current_page_ancestor,
      li.active {

        a {
          box-shadow: 0 -5px 0 $brand-primary inset;
        }
      }  /* end current highlighters */
    }
  }
  .social {
    border-top: 1px solid $gray-lighter;
    padding: 15px 0;
    background-color: $gray-dark;
    color: white;
    margin-left: 0;
    margin-right: 0;

    > .container {
      height: 100%;
    }

    a {
      color: white !important;
      text-decoration: none !important;
      display: table;
      height: 100px;

      &:hover {
        text-decoration: none !important;
      }

      .row {
        background-repeat: no-repeat;
        background-size: auto 40%;
        @media(min-width: $screen-sm-min) {
          background-size: auto 60%;
        }
        @media(min-width: $screen-md-min) {
          background-size: auto 50%;
        }
        @media(min-width: $screen-lg-min) {
          background-size: auto 60%;
        }
        background-position-y: 50%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;

        div[class^="col-"] {

        }

        p {
          margin: 0;
          font-size: 13px;
          line-height: 14px;
          display: table-cell;
          vertical-align: middle;
        }

        .fa {
          vertical-align: middle;
          font-size: 22px;
          position: absolute;
          top: 35%;
        }
      }

      &.fb .row {
        background-image: url(../../dist/images/fb_ikon.png);
        border-bottom: 1px solid $gray-light;
        @media(min-width: $screen-md-min) {
          border-right: 1px solid $gray-light;
          border-bottom: none;
        }
      }
      &.instagram .row {
        background-image: url(../../dist/images/instagram_ikon.png);
      }
      &.linkedin .row {
        background-image: url(../../dist/images/linkedin_ikon.png);
      }
      &.youtube .row {
        background-image: url(../../dist/images/youtube_ikon.png);
      }
    }


  }
}

.right-social {

  > a[class^="col-"] {
    >img {
      @media(min-width: $screen-xs-min) {
        padding: 20px;
      }
      @media(min-width: $screen-lg-min) {
        padding: 10px;
      }
      margin-top: 30px;
      max-height: 140px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#shopModal {
  .modal-dialog {
    background-image: url(../../dist/images/shopModal_bg.jpg);
    background-size: cover;

    .modal-content {
      background-color: transparent;
      padding-top: 60px;
      padding-bottom: 60px;

      h1, h2, .btn {
        font-family: futura-pt-condensed, sans-serif;
        color: #fff;

      }
      h1 {
        font-size: 62px !important;
        margin-bottom: 0;
        text-transform: uppercase;
      }
      h2 {
        font-size: 41px !important;
        margin-top: 0;
        text-transform: uppercase;
      }
      a {
        text-align: center;
        /* margin: 0 auto; */
        display: block;
        margin-top: 20px;
      }
      .btn {
        background-color: rgba(0,0,0,0.45);
        font-size: 40px;
        border: 3px solid white;
        padding: 0 20px;
      }
    }
  }
}