header {

  .container {
    @media(min-width: $grid-float-breakpoint) {
      display: table;
    }


    .brand {
      height: 70px;
      display: none;
      @media(min-width: $grid-float-breakpoint) {
        display: block;
      }

      img {
        max-height: 100%;
        padding: 15px 0;
      }
    }

    #button-wrapper {
      position: relative;
      text-align: right;

      a button, button{
        color: $gray;
        &:hover {
          background: lighten($gray-lighter, 5%);
          color: $gray;
        }
      }

      .login-wrap {
        display: inline-block;
        position: relative;
        color: $gray;
        background: white;

        &.hover {
          color: $gray;
          background: lighten($gray-lighter, 5%);
          #login-wrapper {
            display: block;
          }
        }

        #login-wrapper {
          display: none;
          position: absolute;
          width: 270px;
          top: 70px;
          right: 0;
          z-index: 99;
          padding: 50px 30px;
          background: lighten($gray-lighter, 5%);
          color: $gray;


          #btn_login {
            font-size: 16px;
            margin: 0 auto;
            display: block;
            background-color: $brand-primary-dark;
            color: #fff;

            &:hover {
              background-color: darken($brand-primary-dark, 10%);
            }
          }
        }
      }

      button.login, button.register, button#logged-in {
        display: none;
        position: relative;
        text-transform: uppercase;
        background: transparent;
        border: 0;
        cursor: pointer;
        outline:none;

        @media(min-width: $grid-float-breakpoint) {
          display: inline-block;
          height: 70px;
          padding: 10px 30px 10px 10px;
          font-size: 1em;
          line-height: 1em;
        }
        &:after {
          content: '';
          position: absolute;
          right: 10px;
          top: 36%;
          font-family: FontAwesome;
          font-size: 0.8em;
        }
        &.login {
          &:after {
            content: '\f078';
          }
        }
        &.register {
          &:after {
            content: '\f054';
          }
        }
        &#logged-in {
          display: none;
          padding: 10px 10px 10px 25px;

          &:hover {
            color: $brand-primary-dark;
          }

          &:after {
            content: '\f007';
            left: 10px;
            right: initial;
            font-size: 1em;
          }
        }
      }
    }
  }

  nav {
    @media(min-width: $grid-float-breakpoint) {
      background-color: $lightgray;
    }
  }
}

nav {
  .container {
    .social {
      float: right;
      display: none;

      i {
        font-size: 26px;
        line-height: 41px;
        color: $gray-light;
        margin-left: 10px;
      }
    }
  }
}