header {
  background-color: rgba(0,0,0,0.65) !important;
  position: relative;
  z-index: 2;
  .fa-user {
    margin-right: 5px !important;
  }

  .login-container {
    border-bottom: 1px solid $gray-lighter;
    background-color: transparent;

    @media(min-width: $grid-float-breakpoint) {
      border: none;
      background-color: transparent;
    }
  }

  .container {
    @media(min-width: $grid-float-breakpoint) {
      display: table;
    }


    .brand {
      height: 70px;
      display: none;
      position: relative;
      z-index: 2;

      @media(min-width: $grid-float-breakpoint) {
        display: block;
      }

      img {
        max-height: 100%;
        padding: 15px 0;
      }
    }

    #button-wrapper {
      position: relative;
      z-index: 2;
      text-align: right;

      a button, button{
        color: $gray;
        &:hover {
          color: $gray;
        }
      }

      .register {
        background-color: #bdbcbc;
        border: none;

        &:hover {
          background-color: darken(#bdbcbc, 10%);
          color: white !important;
        }
      }

      button.login, button.register, button#logged-in {
        color: black;
        background-color: white;
        border: none;
        margin-top: 15px;


        @media(min-width: $grid-float-breakpoint) {
          padding-top: 7px;
          padding-bottom: 7px;
        }
      }
    }
  }

  nav {
    @media(min-width: $grid-float-breakpoint) {
      background-color: rgba(0,0,0,0.15) !important;
    }
  }
}

nav {
  .container {
    .social {
      float: right;
      display: none;

      i {
        font-size: 26px;
        line-height: 41px;
        color: $gray-light;
        margin-left: 10px;
      }
    }
  }
}

.mobile-buttons {
  @media(min-width: $grid-float-breakpoint) {
    display: none;
  }
  padding: 10px 0 5px;
  background-color: #EEEEEE;
  color: #505050;
  a{
    color: #505050;
  }

  button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    @media(min-width: $screen-sm-min) {
      font-size: 30px;
    }
    &.logged-in {
//      display: none;
  }
    .fa {
      margin-left: 10px;
    }
  }
}