body.home {
  .btn {
    border-radius: 40px;
    color: #fff;
    background-color: $blue;
//    border: 4px solid $blue;
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    transition: background-color 500ms, padding 500ms, border-radius 500ms, box-shadow 500ms;

    &:hover, :focus {
      color: white;
//      background-color: darken($blue, 15%);
      background-color: darken($blue, 15%);
//      padding: 10px 50px;
      //border-radius: 1px;
//      box-shadow: 0 2px 5px $gray;
    }
  }
  .main {
    margin-bottom: 0 !important;
  }
}
section.row{
  padding: 50px 0;
  position: relative;
  z-index: 1;

  h2 {
    font-family: "Futura LT";
    font-size: 48px;
    margin-bottom: 40px;
    @media(min-width: $screen-md-min) {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }
}
$headerbg : url("../../dist/images/bakgrundsbild2.jpg");
.mobileheader {
  padding-top: 0 !important;
  .bg {
    height: 300px;
    @media(min-width: $screen-sm-min) {
      height: 400px;
    }
    background: $headerbg;
    background-size: cover;
  }
  h1 {
    font-size: 45px;
    @media(min-width: $screen-sm-min) {
      font-size: 55px;
    }
//    color: $brand-primary;
//    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  }
  h4 {
    font-size: 26px;
    @media(min-width: $screen-sm-min) {
      font-size: 34px;
    }
  }
  button {
    margin-top: 50px;
    @media(min-width: $screen-sm-min) {
      font-size: 26px !important;
    }
  }
  .appstore-wrapper {
    margin-top: 80px;
    margin-bottom: 100px;

    img {
      display: inline-block;

      &:nth-of-type(1) {
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
.infoheader {
  position: relative;
  margin-top: -111px;
  padding: 210px 0 210px !important;
  background: $headerbg;
  background-size: cover;
  background-position: 100% 50%;
  @media(min-width: $screen-md-min) {
    background-position: 50% 50%;
  }
  
  h1, h4 {
    color: white;
  }

  h1 {
    font-family: "Futura LT Heavy";
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
//    background-color: rgba(255, 255, 255, 0.65);
    @media(min-width: $screen-md-min) {
      font-size: 70px;
      margin-bottom: 50px;
    }
  }

  h4 {
    font-size: 18px;
//    background-color: rgba(255, 255, 255, 0.65);
    font-family: "Helvetica Neue LT Std 55";
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    @media(min-width: $screen-md-min) {
      font-size: 26px;
    }
  }

  button {
    margin-top: 50px;
    @media(min-width: $screen-md-min) {
      font-size: 26px !important;
    }
  }

}

.blackfooter {
  background-color: black;
  padding: 15px 0 !important;
  @media(min-width: $screen-md-min) {
    max-height: 100px;
  }
  .appstore-wrapper {
    @media(min-width: $screen-sm-min) {
      height: 80px;
    }
    a {
      max-height: 100%;
      img {
        display: inline-block;
        max-height: 70px;
        float: left;
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
  .devices {
    margin-top: 15px;
    float: left;
    @media(min-width: $screen-sm-min) {
      float: right;
    }
  }
}

.news {
  z-index: 3;
  
  &:after {
    bottom: 0px !important;
    background-color: #f6f5f5 !important;
  }

  .news-wrapper {
    margin-left: 0;
    margin-right: 0;

    > a {
      color: $gray-darker;
    }

    article {
      margin: 0;
      padding: 0px;
      position: relative;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      height: 300px;

      &:hover {
        .title-wrapper {
          bottom: 100%;
        }
        .entry-summary {
          bottom: 0%;
        }
      }

      .clicker {
        height: 100%;
        width: 100%;
      }

      .title-wrapper {
        transition: 500ms;
        pointer-events: none;
        max-width: 95%;
        bottom: 5%;
        left: 0;
        position: absolute;
        margin-left: 0;

        h2 {
          background-color: rgba(0,0,0,0.85);
          color: #fff;
          font-size: 20px;
          @media(min-width: $screen-sm-min) {
            font-size: 24px;
          }
          @media(min-width: $screen-md-min) {
            font-size: 20px;
          }
          @media(min-width: $screen-lg-min) {
            font-size: 24px;
          }
          padding: 10px 10px 10px 30px;
          margin-bottom: 10px;
        }

        .date {
          color: #000;
          background-color: #fff;
          display: inline-block;
          padding: 5px 15px;
          font-family: "Futura LT";
          font-size: 13px;
          position: relative;
          bottom: -20px;
          left: 50px;
        }

        .read-more {
          color: $brand-primary;
          background-color: $gray;
          display: inline-block;
          padding: 5px 15px;
          font-family: "Futura LT";
          font-size: 13px;
          position: relative;
          bottom: 10px;
          left: 50px;

          transition: all 500ms;

          &:hover {
            padding: 5px 35px;
            background-color: $brand-primary;
            color: #fff;
          }
        }
      }

      .entry-summary {
        position: absolute;
        bottom: -70%;
        transition: 500ms;
        background-color: rgba(255,255,255,0.85);
        padding: 10px;
        max-width: 95%;
        color: #000 !important;
      }

      &.large {
        height: 600px;
        background-position: center;
        background-size: cover;

        &:hover {
          .title-wrapper {
            bottom: 25%;
          }
          .entry-summary {
            bottom: 0%;
          }
        }

        .title-wrapper{
          margin-right: 20px;

          h2 {
            font-size: 20px;
            padding: 10px 10px 10px 50px;
            margin-bottom: 20px;
            @media(min-width: $screen-sm-min) {
              font-size: 36px;
            }
            @media(min-width: $screen-md-min) {
              font-size: 32px;
            }
            @media(min-width: $screen-lg-min) {
              font-size: 40px;
            }
          }

          .date {
            padding: 5px 15px;
            font-size: 13px;
            @media(min-width: $screen-md-min) {
              font-size: 18px;
            }
            bottom: -20px;
            left: 50px;
          }

          .read-more {
            padding: 5px 15px;
            font-family: "Futura LT";
            font-size: 13px;
            @media(min-width: $screen-md-min) {
              font-size: 16px;
            }
            bottom: 20px;
            left: 50px;

            transition: all 500ms;

            &:hover {
              padding: 5px 35px;
              background-color: $brand-primary;
              color: #fff;
            }
          }
        }
      }
      
      img {
        width: 100%;
        transition: transform 250ms ease-out;
      }

      &:hover img, :focus img{
        transform: scale(1.1,1.1);
      }

    }
  }
  .button-wrapper {
    margin: 80px auto 30px;
  }
}

.films {
  background-color: #f6f5f5;
  z-index: inherit;

  .container {
    position: relative;
    .cc_appletv {
      position: absolute;
      top: 25%; right: 0;
      @media(max-width: $screen-sm-min) {
        display: none;
      }
    }
  }
  

  
  .filmer-wrapper {
    .thumbs-wrapper {
      margin-bottom: 25px;

      .thumb {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        margin-top: -5px;

        &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8) {

        }

        video {
          &:after {
            content: '\f466';
            font-family: Genericons;
          }
        }

        .title-wrapper {
          bottom: 10px;
          left: 0;
          position: absolute;
          margin-left: 0;

          h2 {
            background-color: #000;
            color: #fff;
            &.inverted {
              background-color: #000;
              color: #fff;
            }
            font-size: 20px;
            @media(min-width: $screen-sm-min) {
              font-size: 24px;
            }
            @media(min-width: $screen-md-min) {
              font-size: 20px;
            }
            @media(min-width: $screen-lg-min) {
              font-size: 24px;
            }
            padding: 10px 10px 10px 30px;
            margin-bottom: 20px;
          }
        }

        img {
          &.img-responsive {
            width: 100%;
            height: auto;
          }
        }
        .play-btn {
          pointer-events: none;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left:-32.5px;
          margin-top: -32.5px;
        }
      }
    }
    .text-wrapper {
      @media(min-width: $screen-md-min) {
        padding: 0 100px;
      }
    }
  }
}

.appen {
  padding-top: 0px !important;
  z-index: inherit !important;
  .header {
    img {
      width: 100%;
    }
  }
  .appen-wrapper {
    @media(min-width: $screen-md-min) {
      column-count: 2;
      column-gap: 40px;
      padding: 0 100px;
    }
  }

  .round {
    margin-top: 50px;
    &:before {
      content: '';
      height: 100px;
      width: 100px;
      display: block;
      margin: 0 auto;
    }
    &:nth-of-type(1):before {
      background: url("../../dist/images/round_play.png");
    }
    &:nth-of-type(2):before {
      background: url("../../dist/images/round_gps.png");
    }
    &:nth-of-type(3):before {
      background: url("../../dist/images/round_profile.png");
    }
    &:nth-of-type(4):before {
      background: url("../../dist/images/round_calendar.png");
    }
  }
}

.kent {
  background-color: #f6f5f5;
  z-index: inherit;

  img {
    margin: 0 auto;
  }

  .kent-wrapper {
    display: table;
    
    blockquote {
      display: table-cell;
      vertical-align: middle;
      border-color: transparent;
      &:before {
        content: '';
        width: 60px;
        height: 45px;
        background: url("../../dist/images/quote_yellow.png");
        display: block;
        margin-bottom: 30px;
      }

      .small {
        font-size: 16px;
        color: $gray-light;
      }
    }
  }
}

.abonnemang {
  background-color: #f6f5f5;
  z-index: inherit;

  &:after {
    background: none !important;
  }

  .abonnemang-wrapper {
    @media(min-width: $screen-md-min) {
      padding: 0 100px;
    }
    
    .panel {
      @media(min-width: $screen-xs-min) {
        padding: 50px;
      }
    }

    h2 {
      font-family: "Futura LT Heavy";
      font-size: 36px;
      text-align: center;
      @media(min-width: $screen-md-min) {
        text-align: left;
        font-size: 50px;
      }
    }
    h4 {
      font-size: 32px;
      @media(min-width: $screen-md-min) {
        font-size: 46px;
      }
      font-family: "Helvetica Neue LT Std 55";
      margin-bottom: 0;
    }
    h5 {
      font-size: 26px;
      font-family: "Helvetica Neue LT Std 55";
      margin-top: 0;
      margin-bottom: 30px;
    }
    .btn {
      font-size: 16px;
      @media(min-width: $screen-md-min) {
        font-size: 24px;
      }
      margin-bottom: 30px;
    }
    .appstore-wrapper{
      margin-bottom: 30px;
      img {
        margin: 0 auto;
      }
    }
  }
}

.cast {
//  background: url("../../dist/images/airplay_cc_bg.jpg");
//  background-position: 50% 25%;
//  background-size: cover;
  background-color: #ff5b6a;
  padding: 0 !important;
  height: auto;
  @media(min-width: $screen-sm-min) {
    height: 180px;
  }

  div{
    height: 100%;
  }


  h2, h3 {
    color: #FFFFFF !important;
  }
  h2 {
    margin-bottom: 10px !important;
    font-family: "Futura LT Condensed" !important;
  }
  h3 {
    font-size: 30px;
    font-family: "Helvetica Neue Lt Std 55", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 45px;
  }
  .casticons {
    display: table;
    height: 100%;

    > .row {
      display: table-cell;
      vertical-align: middle;
    }
  }
  img {
    display: inline-block;
    max-height: 50px;
    margin-bottom: 30px;
    &:last-of-type {
      margin-right: 20px;
    }
    @media(min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
  }
}
.komigang {
  background: url("../../dist/images/kom_igang.jpg");
  background-attachment : fixed;
  background-position   : top center;
  background-size       : cover;

  .text-wrapper {
    border: 4px solid white;
    padding: 45px;

    h2 {
      color: white !important;
      font-family: "Futura LT Condensed" !important;
      font-size: 36px;
      @media(min-width: $screen-sm-min) {
        font-size: 45px;
      }
      @media(min-width: $screen-md-min) {
        font-size: 55px;
      }
      margin-top: 0;
    }

    .steps {
      font-size: 18px;
      @media(min-width: $screen-sm-min) {
        font-size: 21px;
      }
      @media(min-width: $screen-md-min) {
        font-size: 24px;
      }
      color: white;
    }
    a {
      text-decoration: underline;
      color: white;
    }
  }
}

$modal-color: darken($blue, 15%);
#loginModal {
  .modal-dialog {

    .modal-content {
      padding: 0;

      a {
        color: $modal-color;
      }
      .modal-header {
        border-bottom: none;
        background-color: $modal-color;
        h2 {
          color: white !important;
        }
      }
      .modal-body {
        padding-left: 30px;
        padding-right: 30px;
        @media(min-width: $screen-sm-min) {
          padding-left: 110px;
          padding-right: 110px;
        }

        label {
          text-transform: uppercase;
          font-family: "Futura LT";
        }
        input.form-control {
          padding: 20px 15px;
          border-radius:0;
          border: 1px solid black;
        }

        .submit {
          margin-top: 30px;

          .text {
            line-height: 50px;
          }
        }

        .divider {
          position: relative;
          float: left;
          width: 100%;
          margin: 2.5rem 0;
          border-top: 1px solid #999;

          .or {
            display: block;
            position: absolute;
            height: 2.8rem;
            width: 7rem;
            left: 50%;
            margin-left: -3.5rem;
            top: -1.3rem;
            line-height: 2.8rem;
            font-size: 1.6rem;
            background: #fff;
            color: #999;
          }
        }

      }
      .btn {
        border-radius: 0;
        font-family: Arial, sans-serif;
        border: none;
        padding: 15px 30px;

        &#btn_login {
          background-color: darken($blue,15%);
          &:hover {
            background-color: $blue;
          }
        }
        &.logged-in {
          display: none;
        }
      }
      .btn-facebook {
        background-color: #3B5998;
        margin-bottom: 50px;
        font-weight: 300;
        font-size: inherit !important;
      }
      .modal-footer {
        border: none;
        background-color: $gray-dark;
        color: white;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}