.page-header {
  border-bottom: none;
  h1 {
    font-size: 32px;

    @media(min-width: $screen-md-min) {
      font-size: 50px;
      text-align: center;
    }
  }
}

.faq, .page-template-template-faq {
  .page-header {
    margin-bottom: 0;
  }

  h3 {
    text-transform: uppercase;
    margin-top: 40px;
  }
  article {
    margin-top: 0 !important;

    &:first-child {
      margin-bottom: 200px;
    }

    .faq-answer {
      display: none;

      p {
        font-size: 13px;
        line-height: 14px;
      }
    }
  }
}
