.page-header {
  border-bottom: none;
  h1 {
    font-size: 32px;

    @media(min-width: $screen-md-min) {
      font-size: 50px;
    }
  }
}

.faq, .page-template-template-faq {
  h3 {
    text-transform: uppercase;
  }
  article {
    margin-top: 0 !important;
  }
}
