.sidebar {
  margin-top: 50px;
  
  h3 {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
  }
  
  .widget_search {
    .input-group {
      width: 100%;
      @media(min-width: $screen-md-min) {
        width: 110%;
      }      
    }
  }

  ul {
    list-style: none;
    padding-left: 10px;
  }
}