.profile-picture {
  border: 10px solid $gray-lighter;
  display: inline-block;
  visibility: hidden;
}
.name {

}

.loc {
  color: $gray-light;
  margin-top: 0;
}

button.btn {
  border-radius: 50px;
  font-size: 1.3em;
  &.avsluta, &.aktivera {
    display: none;
  }
}

.kcal-time {

  h3, h4 {
    color: $gray-light;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.editable {
  position: relative;
  padding: 0 50px;
  display: inline;

  > i {
    position: absolute;
    right: 0;
    display: none;
  }

  &:hover {
    > i {
      display: inline-block;
    }
  }
}