@font-face {
  font-family: 'Futura LT Heavy';
  src: url('../../dist/fonts/FuturaLT-Heavy.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT';
  src: url('../../dist/fonts/FuturaLT.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue LT Std 55';
  src: url('../../dist/fonts/HelveticaNeueLTStd-55.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue LT Std 65';
  src: url('../../dist/fonts/HelveticaNeueLTStd-65.otf');
  font-weight: normal;
  font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext);
body {
  font-family: "Helvetica Neue LT Std 55"
}

a {
  color: darken($brand-primary, 35%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura LT";
  color: #565656;
}



blockquote {
  font-family: 'Lora', serif;
}

.row, .container-fluid {
  max-width: 1920px;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}