// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #96ffdc;
$brand-primary-dark:    darken($brand-primary, 15%);
$lightgray:             #f6f5f5;
$buttongray:            #bdbcbc;
$blue:                  #7bbbe4;

