.btn {
  font-family: "Futura LT", sans-serif;

  .fa-spinner {
    margin-left: 5px;
    transition: all 250ms ease-out;
    font-size: 0;
  }

  &.thinking {
    i {
      font-size: inherit;
    }
  }
}